Repository sbarrios93/amazon-ynab: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, autoflake, pyupgrade, blacken-docs, flake8, poetry-check

forbidden-files:
  name: forbidden files
  entry: found forbidden files; remove them
  language: fail

autoflake:
  name: autoflake
  entry: poetry run autoflake
  language: system
  require_serial: true
  args:
  - --in-place
  - --expand-star-imports
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --remove-duplicate-keys
  - --remove-unused-variables

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system

blacken-docs:
  name: blacken-docs
  description: Run `black` on python code blocks in documentation files
  entry: poetry run blacken-docs
  language: system

flake8:
  name: flake8 for __init__.py
  description: '`flake8` is a command-line utility for enforcing style consistency across Python projects.'
  entry: poetry run flake8
  language: system
  require_serial: true
  args:
  - --extend-ignore=F401

poetry-check:
  name: poetry-check
  description: run poetry check to validate config
  entry: poetry check
  language: system
  pass_filenames: false

fix: :arrow_up:
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: dep security / ci
  .github/workflows/build.yml
  .github/workflows/pre-commit.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: dep security / ci
  .github/workflows/build.yml
Due: none

fix: missing autoflake
  poetry.lock
  pyproject.toml
Due: poetry-check

fix: missing autoflake
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: poetry-check

--init throws an error updating to init which does not
  README.md
Due: blacken-docs

switched from poetry to rye
  .flake8
  .idea/.gitignore
  .idea/amazon-ynab.iml
  .idea/amazon_ynab.iml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/mypy.xml
  .idea/ruff.xml
  .idea/scopes/project.xml
  .idea/vcs.xml
  amazon_ynab/__init__.py
  amazon_ynab/__main__.py
  amazon_ynab/amazon/amazon_client.py
  amazon_ynab/amazon/invoice_parser.py
  amazon_ynab/engine/engine.py
  amazon_ynab/engine/matcher.py
  amazon_ynab/engine/patcher.py
  amazon_ynab/utils/utils.py
  amazon_ynab/words/food_identifier.py
  amazon_ynab/ynab/ynab_client.py
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  requirements.txt
Due: autoflake, pyupgrade, blacken-docs, flake8, poetry-check

v2
  .github/workflows/build.yml
  .github/workflows/install-rye.yml
  .pre-commit-config.yaml
  amazon_ynab/__main__.py
  amazon_ynab/amazon/amazon_client.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: autoflake, pyupgrade, blacken-docs, flake8, poetry-check

add pre-commit to dev dependencies
  .github/workflows/build.yml
  pyproject.toml
  requirements-dev.lock
Due: poetry-check

fix pre-commit CI
  .github/workflows/build.yml
Due: none

fix dev dependencies
  Makefile
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: poetry-check

Revert "fix dev dependencies"
  Makefile
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: poetry-check

fix dev dependencies
  Makefile
  amazon_ynab/ynab/ynab_client.py
  assets/images/coverage.svg
  pyproject.toml
  requirements-dev.lock
Due: autoflake, pyupgrade, blacken-docs, flake8, poetry-check

added 1 test
  tests/test_main.py
Due: autoflake, pyupgrade, blacken-docs, flake8

fix cache rye installer
  .github/workflows/build.yml
Due: none

include py3.11 in CI
  .github/workflows/build.yml
  .github/workflows/combine-prs.yml
Due: none

update ci action
  .github/workflows/build.yml
Due: none

remove dependabot
  .github/dependabot.yml
Due: none

fixes to pass ruff checks
  .pre-commit-config.yaml
  amazon_ynab/__main__.py
  amazon_ynab/amazon/amazon_client.py
  amazon_ynab/amazon/invoice_parser.py
  amazon_ynab/engine/matcher.py
  amazon_ynab/utils/custom_types.py
  amazon_ynab/utils/utils.py
  amazon_ynab/ynab/ynab_client.py
  pyproject.toml
Due: autoflake, pyupgrade, blacken-docs, flake8, poetry-check

fixes to pass ruff checks
  .pre-commit-config.yaml
  amazon_ynab/__main__.py
  amazon_ynab/amazon/amazon_client.py
  amazon_ynab/amazon/invoice_parser.py
  amazon_ynab/engine/engine.py
  amazon_ynab/engine/matcher.py
  amazon_ynab/engine/patcher.py
  amazon_ynab/utils/custom_types.py
  amazon_ynab/utils/utils.py
  amazon_ynab/ynab/ynab_client.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: autoflake, pyupgrade, blacken-docs, flake8, poetry-check

Create dependabot.yml
  .github/dependabot.yml
Due: none

Path conditions:
  forbidden-files: any of: \.rej$, but not: (?x)
# Files that fail if changed manually
.*\.(diff|patch)$

  autoflake: any of: \.py$, but not: (?x)
# Files that fail if changed manually
.*\.(diff|patch)$

  pyupgrade: any of: \.py$, but not: (?x)
# Files that fail if changed manually
.*\.(diff|patch)$

  blacken-docs: any of: \.(rst|md|markdown|py|tex)$, but not: (?x)
# Files that fail if changed manually
.*\.(diff|patch)$

  flake8: (any of: \.py$ and not (/__init__\.py$) and not ((?x)
# Files that fail if changed manually
.*\.(diff|patch)$
)) or (any of: /__init__\.py$ and \.py$ and not (/__init__\.py$) and not ((?x)
# Files that fail if changed manually
.*\.(diff|patch)$
))
  poetry-check: any of: ^pyproject.toml$, but not: (?x)
# Files that fail if changed manually
.*\.(diff|patch)$

